<div class="container-fluid" id="cardsPage">
	<div class="row custom-page-header">
		<div class="pull-left">
			<h3>Cards from {{release.name}}</h3>
			<h4>Project: {{project.title}}</h4>
		</div>
		<button class="pull-right btn btn-lg btn-default" ng-click="toggleAddCard()">add card</button>
	</div>
	
	<div class="add-card" ng-show="showAddCard" id-project="{{project.id}}" id-release="{{release.id}}"></div>

	<div class="row">
		<column-card title="Planned" name="planned" collection="plannedCards"></column-card>

		<column-card title="In Progress" name="dev" collection="devCards"></column-card>

		<column-card title="In Test" name="test" collection="testCards"></column-card>

		<column-card title="Done" name="done" collection="doneCards"></column-card>
	</div>
</div>